body{
   margin-left: 0;
   margin-right: 0;
   color: white;
}
header{
   
    height: 100vh;
    font-size:larger;
    margin-left: 12px;
    
}
.container{
    display: grid;
    place-items: center;
    position: absolute;
    bottom:50px;
    left:45vw;
}
.backdrop{
    position: absolute;width:60vw;height: 100vh; background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent);top:0;left: 0;z-index: -1;
}
.background{
    position: absolute;width:100vw;height: 100vh;background: url('bg.jpg') top;
        background-repeat: no-repeat;
        backdrop-filter: black;
        background-size: cover;z-index: -2;
}
section >img{
    width: 100vw;
}
section{
    text-align: center;
    background-color: rgb(0, 0, 0);
}
header >h1{
    
    
    width: fit-content;
    padding: 5px;
}
.arrow{
    box-sizing: border-box;
height: 5vw;
width: 5vw;
border-style: solid;

border-color: white;
border-width: 0px 5px 5px 0px;
transform: rotate(45deg);

}